[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
awscli = "*"

[requires]
python_version = "3.7"

[scripts]
create_frontend_deployscript = "python3 create_frontend_deployscript.py"
